.menu{
    background-color: black;

}

.menu ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 1rem;
}

.menu li a{
    color: white;

}

.menu a:hover{
    color: orange;
}